.appointment {
    border: 1px;
    margin-top: 10px;
    margin-left: 10px;
}

.userTitle {
    margin-left: 10px;
}

.rounded-corners {
    border-radius: 25px;
}

.shadow {
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.appointment-header {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 10px;
}

.appointments {
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    height: auto;
    
    width: 400px;
}

