.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
.box {
    height: 400px;
    width: 400px;
    background-color: #FFFFFF;
}

.rounded-corners {
    border-radius: 25px;
}

.shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}